@import "../../../styles";

.pricing {
  width: 100%;
  height: 100%;
  overflow: auto;

  .container {
    padding: 2rem 0;

    .title-container {
      margin-top: 2rem;
      padding: 2rem 6rem;
    }

    .title {
      margin-left: 2rem;
      background-color: map-get($colors, primary);
      padding: 60px;
      border-radius: 0 0 10px 10px;
      color: white;
      opacity: 0.5;
    }

    .description-container {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      background-color: map-get($colors, backgroundGreen1);
      justify-content: center;

      .table {
        width: 600px;
        padding: 2rem;
        text-align: center;
        .text {
          //color: white;
        }

        .bold {
          font-weight: bold;
        }

        .text {
          font-size: map-get($sizes, xl);
          color: map-get($colors, grayText);
        }

        td {
          padding: 10px;
          width: 60%;
          text-align: start;

          &.price {
            text-align: end;
            width: 40%;
          }
        }
      }
    }
  }
}
