@import "../../../styles";

.pricing {
  width: 100%;
  height: 100%;
  overflow: auto;

  .container {
    width: 100%;

    .title-container {
      margin-top: 2rem;
    }

    .title {
      margin-left: 6rem;
      background-color: map-get($colors, primary);
      padding: 60px;
      border-radius: 0 0 10px 10px;
      color: white;
      opacity: 0.5;

      @include screen('phone') {
        padding: 40px 10px 10px 10px;
        margin-left: 1rem;
        width: 100%;
      }
    }

    .description-container {
      margin-top: 2rem;
      margin-bottom: 60px;
      width: 100%;
      display: flex;
      background-color: map-get($colors, backgroundGreen1);
      justify-content: center;

      .table {
        //width: 600px;
        padding: 2rem;
        text-align: center;

        @include screen('phone') {
          padding: 1rem;
        }

        .text {
          //color: white;
        }

        .bold {
          font-weight: bold;
        }

        .text {
          font-size: map-get($sizes, l);
          color: map-get($colors, grayText);

          @include screen('phone') {
            font-size: map-get($sizes, xxs);
          }
        }

        td {
          padding: 10px;
          //width: 60vw;
          text-align: start;

          &.price {
            text-align: end;
            width: 40%;
          }
        }
      }
    }
  }
}
