<div class="pricing">
  <div class="container">
    <div class="title-container>">
      <b class="title">{{ "pricing.title" | translate}}</b>
    </div>
    <div class="description-container">
      <table class="table">
        <tr>
          <td>
            <span class="text">{{ "pricing.session50" | translate}}</span>
          </td>
          <td class="price">
            <span class="text">39€</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text">{{ "pricing.session30" | translate}}</span>
          </td>
          <td class="price">
            <span class="text">29€</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text">{{ "pricing.season5" | translate}}</span>
          </td>
          <td class="price">
            <span class="text">187,5€</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text">{{ "pricing.season10" | translate}}</span>
          </td>
          <td class="price">
            <span class="text">350€</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
