@import "../../../styles";

.contact {
  width: 100%;
  height: 100%;
  overflow: scroll;

  iframe {
    margin-bottom: 230px;
  }

  .container {
    padding: 2rem 0;
    //height: 100%;

    .title {
      padding: 0 6rem;
      //color: map-get($colors, grayText);
    }

    .form-container {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      //align-items: center;
      justify-content: center;
      background-color: white;

      .description {
        width: 100%;
        margin: 1rem 0;
        padding-left:  2rem;
        min-width: 500px;
        max-width: 750px;

        .fields-container {
          padding: 1rem 0;
          height: 100%;
        }

        .text {
          //color: white;
        }

        .bold {
          color: map-get($colors, primary);
          font-weight: bold;
        }
      }

      .contact-form {
        width: 100%;
        max-width: 750px;
        min-width: 500px;
        margin: 1rem 0;
        padding-right: 2rem;
        text-align: center;
        .text {
          //color: white;
        }

        .bold {
          color: map-get($colors, primary);
          font-weight: bold;
        }

        input {
          width: 80%;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid map-get($colors, primary);
          font-size: map-get($sizes, s);
          color: map-get($colors, grayText);
          font-family: "Helvetica", sans-serif;
        }

        textarea {
          width: 80%;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid map-get($colors, primary);
          font-size: map-get($sizes, s);
          color: map-get($colors, grayText);
          font-family: "Helvetica", sans-serif;
          resize: none;
          rows: 4;
        }

        button {
          cursor: pointer;
          width: 50%;
          border-radius: 5px;
          padding: 10px;
          border: none;
          font-size: map-get($sizes, s);
          background-color: map-get($colors, primary);
          color: white;
          font-family: "Helvetica", sans-serif;
          font-weight: bold;
        }
        button:disabled {
          background-color: map-get($colors, backgroundGreen1);
          cursor: auto;
        }
      }
    }
  }
}
