<div class="contact">
  <div class="container">
    <div class="title-container">
      <b class="title">{{ "contact.title" | translate}}</b>
    </div>
    <div class="form-container">
      <div class="description">
        <p>
          <span class="text bold">{{ "contact.subtitle" | translate}}</span>
        </p>
        <div class="fields-container">
          <div class="clickable field" (click)="openWhatsapp()">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <span class="text">{{ CONTACT_PHONE }}</span>
          </div>
          <div class="field">
            <i class="far fa-envelope" aria-hidden="true"></i>
            <span class="text">{{ CONTACT_EMAIL }}</span>
          </div>
          <div class="field">
            <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
            <span class="text">{{ CONTACT_ADDRESS }}</span>
          </div>
          <div class="field">
            <i class="far fa-clock" aria-hidden="true"></i>
            <span class="text">{{ "contact.tuesday" | translate}}</span>
            <div class="push">
             <span class="text">{{ "contact.schedule1" | translate}}</span>
            </div>
          </div>
          <div class="field">
            <i></i>
            <span class="text">{{ "contact.wednesday" | translate}}</span>
            <div class="push">
              <span class="text">{{ "contact.schedule1" | translate}}</span>
            </div>
          </div>
          <div class="field">
            <i></i>
            <span class="text">{{ "contact.thursday" | translate}}</span>
            <div class="push">
              <span class="text">{{ "contact.schedule2" | translate}}</span>
            </div>
          </div>
          <div class="field">
            <i></i>
            <span class="text">{{ "contact.friday" | translate}}</span>
            <div class="push">
             <span class="text">{{ "contact.schedule1" | translate}}</span>
            </div>
          </div>
          <div class="field">
            <i></i>
            <span class="text">{{ "contact.saturday" | translate}}</span>
            <div class="push">
              <span class="text">{{ "contact.schedule3" | translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-hack"></div>
      <div class="contact-form">
        <p>
          <span class="text bold">{{ "contact.formTitle" | translate}} </span>
        </p>
        <form [formGroup]="contactForm">
          <input formControlName="name" type="text" placeholder="{{ 'contact.name'| translate }}">
          <input formControlName="phone" type="text" placeholder="{{ 'contact.phoneNumber'| translate }}">
          <input formControlName="email" type="email" placeholder="{{ 'contact.email'| translate }}">
          <textarea formControlName="message" rows="4" type="text" placeholder="{{ 'contact.message'| translate }}"></textarea>
        </form>
        <button (click)="sendEmail()" [disabled]="!contactForm.valid">{{ 'contact.send'| translate }}</button>
      </div>
    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1260.1747771802677!2d2.001571224018304!3d41.304129136465505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49cd8ba636603%3A0xa50093bdf2de3707!2sCarrer%20de%20Sant%20Joan%2C%204%2C%2008850%20Gav%C3%A0%2C%20Barcelona!5e0!3m2!1ses!2ses!4v1616032442747!5m2!1ses!2ses"
    width="100%" height="450"
    style="border:0;" allowfullscreen="" loading="lazy">
  </iframe>
</div>
