<div class="facilities">
  <div class="container">
    <div class="title-container>">
      <b class="title">{{ "facilities.title" | translate}}</b>
    </div>
    <div class="description-container">
      <div class="description">
        <p class="text">{{ "facilities.numerationText" | translate}}</p>
        <p class="text">{{ "facilities.facility1" | translate}}</p>
        <p class="text">{{ "facilities.facility2" | translate}}</p>
        <p class="text">{{ "facilities.facility3" | translate}}</p>
        <p class="text">{{ "facilities.facility4" | translate}}</p>
        <p class="text">{{ "facilities.facility5" | translate}}</p>
      </div>
    </div>
    <div class="subtitle-container">
      <b class="subtitle">{{ "facilities.paragraph2" | translate }}</b>
    </div>
  </div>
</div>
