@import "../../../styles";

.about {
  width: 100vw;
  height: 100%;
  background-color: map-get($colors, secondary);

  .container {
    padding: 1rem 6rem;
    height: 100%;

    .title {
      //color: map-get($colors, grayText);
    }

    .description-container {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      background-color: white;
      border-radius: 10px;
      max-height: 459px;
      ::-webkit-scrollbar {
        display: none;
      }

      img {
        max-width: 300px;
        max-height: 459px;
        border-radius: 10px 0 0 10px;
      }

      .description {
        width: 100%;
        padding: 0 2rem;
        text-align: justify;
        overflow-y: scroll;

        .text {
          //color: white;
        }
      }
    }
  }
}
