@import "../../../styles";

.about {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .container {
    padding: 2rem 6rem;
    //height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include screen('phone') {
      padding: 1rem 2rem;
    }

    .title {
      background-color: map-get($colors, primary);
      padding: 60px;
      border-radius: 0 0 10px 10px;
      color: white;
      opacity: 0.5;

      @include screen('phone') {
        padding: 40px 10px 10px 10px;
        margin-left: -20px;
        width: 100%;
      }
    }

    .bio {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
    }

    .description-container {
      margin-top: 2rem;
      width: 90%;
      display: flex;
      background-color: map-get($colors, backgroundGreen1);
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      margin-right: 8rem;

      @include screen('phone') {
        margin-right: 3rem;
      }

      .image-container {
        @include screen('phone') {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      img {
        float: left;
        max-width: 300px;
        max-height: 459px;
        border-radius: 10px 0 0 10px;
        margin-right: 30px;

        @include screen('phone') {
          max-width: 200px;
          margin-right: 0;
          margin-top: 1rem;
          border-radius: 10px;
        }
      }

      .description {
        width: 100%;
        text-align: justify;

        align-items: center;
        justify-content: center;

        .text {
          padding: 1rem;
          margin-left: 30px;
          margin-top: 30px;
          margin-right: 30px;

          @include screen('phone') {
            padding: 0;
          }
        }
      }
    }
  }
}
