<div class="app">
    <div class="header">
      <div class="logo" [routerLink]=[MainRoute.HOME]>
        <img src="../assets/img/smallLogo.jpg">
      </div>
      <div class="titles">
        <div class="pages">
          <span [ngClass]="{'active': activeRoute === MainRoute.ABOUT }" [routerLink]=[MainRoute.ABOUT]>{{ 'about.title' | translate | uppercase }}</span>
          <span [ngClass]="{'active': activeRoute === MainRoute.TREATMENTS }" [routerLink]=[MainRoute.TREATMENTS]>{{ 'treatments.title' | translate | uppercase }}</span>
          <span [ngClass]="{'active': activeRoute === MainRoute.FACILITIES }" [routerLink]=[MainRoute.FACILITIES]>{{ 'facilities.title' | translate | uppercase }}</span>
          <span [ngClass]="{'active': activeRoute === MainRoute.CONTACT }" [routerLink]=[MainRoute.CONTACT]>{{ 'contact.title' | translate | uppercase }}</span>
          <span [ngClass]="{'active': activeRoute === MainRoute.PRICING }" [routerLink]=[MainRoute.PRICING]>{{ 'pricing.title' | translate | uppercase }}</span>
        </div>
        <div class="language">
          <div class="current-language" (click)="toggleOptions()">
            {{ ('languages.short.' + language) | translate }}
            <i *ngIf="isLanguageSelectorOpen" class="fas fa-chevron-up" aria-hidden="true"></i>
            <i *ngIf="!isLanguageSelectorOpen" class="fas fa-chevron-down" aria-hidden="true"></i>
          </div>
          <div class="options" *ngIf="isLanguageSelectorOpen">
            <div>
              <p (click)="selectLanguage(Language.CATALAN)">
                {{ 'languages.ca-es' | translate }}
              </p>
              <p (click)="selectLanguage(Language.SPANISH)">
                {{ 'languages.es-es' | translate }}
              </p>
            </div>

          </div>

        </div>
    </div>
  </div>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="icons">
      <i (click)="openWhatsapp()" class="fa fa-whatsapp" aria-hidden="true"></i>
      <i (click)="openInstagram()" class="fa fa-instagram" aria-hidden="true"></i>
    </div>
    <div class="disclaimer" (click)="openDisclaimer()">
      <p>{{ "disclaimer.title" | translate }}</p>
    </div>
    <div class="footer-text">
      <p>LO HIZO UN MAGO</p>
      <i class="fa fa-hat-wizard" aria-hidden="true"></i>
    </div>
  </div>
</div>
