@import "../styles";

.app {
  width: 100vw;
  height: 100vh;
  //overflow: hidden;
}

.header {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: map-get($colors, grayText);
  font-family: "Helvetica", sans-serif;
  border-bottom: 1px solid map-get($colors, primary);

  .logo {
    max-width: 50%;
    margin-left: 2vw;
    cursor: pointer;

    img {
      max-height: 100%;
    }
  }
  :focus {
    outline: none;
  }

  .titles {
    margin: 4rem 2rem 0 0;
    display: inline-flex;

    .pages {
      border-right: 1px solid map-get($colors, primary);
      height: fit-content;

      span {
        margin-right: 2rem;
        font-weight: 700;
        cursor: pointer;

        &.active {
          font-weight: 900;
          color: map-get($colors, primary);
          border-bottom: 2px solid map-get($colors, secondary);
          cursor: auto;
        }
      }
      :focus {
        outline: none;
      }
    }

    .language {
      margin-left: 1rem;
      top: 3rem;
      right: 3rem;
      cursor: pointer;
      z-index: 9999;

      .current {
        font-weight: bold;
        padding-right: 3rem;

        img {
          padding: 0 0 0.3rem 1rem;
          cursor: pointer;

          &.rotate {
            transform: rotate(180deg);
            padding: 0.3rem 1rem 0 0;
          }
        }
      }

      .options {
        position: absolute;
        color: white;
        cursor: pointer;
        padding: 1rem;
        background-color: map-get($colors, primary);
        font-weight: 900;
        border-radius: 0 0 10px 10px;
      }
    }


  }
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: map-get($colors, backgroundGreen1);
}

.footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Helvetica", sans-serif;

  p {
    margin: 7px 2rem 0 1vw;
  }
}
