<div class="home">
  <div class="container">
    <div class="title-container">
      <b class="title">{{ "home.title" | translate}}</b>
    </div>
    <div class="description-container">
      <table class="table">
        <tr>
          <td>
            <span class="text bold">{{ "home.pain" | translate}}</span><br>
            <span class="text">{{ "home.painSubtitle" | translate}}</span>
          </td>
          <td>
            <span class="text bold">{{ "home.articularLimitations" | translate}}</span>
          </td>
          <td>
            <span class="text bold">{{ "home.traumaticInjuries" | translate}}</span><br>
            <span class="text">{{ "home.traumaticInjuriesSubtitle" | translate}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text bold">{{ "home.limfaticEndema" | translate}}</span>
          </td>
          <td>
            <span class="text bold">{{ "home.nerveInjuries" | translate}}</span><br>
            <span class="text">{{ "home.nerveInjuriesSubtitle" | translate}}</span>
          </td>
          <td>
            <span class="text bold">{{ "home.others" | translate}}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="subtitle-container">
    <b class="subtitle">{{ "home.canHelp" | translate }}</b>
  </div>
</div>
