@import "../../../styles";

.treatments {
  width: 100%;
  height: 100%;
  overflow: auto;

  .container {
    padding: 2rem 6rem;
    //height: 100%;

    .title {
      background-color: map-get($colors, primary);
      padding: 60px;
      border-radius: 0 0 10px 10px;
      color: white;
      opacity: 0.5;
    }

    .description-container {
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 100%;
      display: flex;
      background-color: map-get($colors, backgroundGreen1);
      border-radius: 10px;

      .description {
        width: 100%;
        margin: 1rem 0;
        padding: 0 2rem;
        text-align: justify;
        .text {
          //color: white;
        }

        .bold {
          //color: map-get($colors, primary);
          font-weight: bold;
        }
      }

      .table {
        width: 100%;
        padding: 2rem;
        text-align: center;
        .text {
          //color: white;
        }

        .bold {
          font-weight: bold;
        }

        .text {
          font-size: map-get($sizes, xl);
          color: map-get($colors, grayText);
        }

        td {
          padding: 10px;
        }
      }
    }
  }
}
