<div class="treatments">
  <div class="container">
    <div class="title-container>">
      <b class="title">{{ "treatments.title" | translate}}</b>
    </div>
    <div class="description-container">
      <table class="table">
        <tr>
          <td>
            <span class="text bold">{{ "treatments.manualTherapy" | translate}}</span>
          </td>
          <td>
            <span class="text bold">{{ "treatments.dryNeedling" | translate}}</span>
          </td>
          <td>
            <span class="text bold">{{ "treatments.lymphaticDrainage" | translate}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text bold">{{ "treatments.electroTherapy" | translate}}</span>
          </td>
          <td>
            <span class="text bold">{{ "treatments.poseReeducation" | translate}}</span>
          </td>
          <td>
            <span class="text bold">{{ "treatments.fisioSport" | translate}}</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="description-container">
      <div class="description">
        <p>
          <span class="text bold">{{ "treatments.manualTherapy" | translate}}: </span>
          <span class="text">{{ "treatments.manualTherapyText" | translate}}</span>
        </p>
        <p>
          <span class="text bold">{{ "treatments.dryNeedling" | translate}}: </span>
          <span class="text">{{ "treatments.dryNeedlingText" | translate}}</span>
        </p>
        <p>
          <span class="text bold">{{ "treatments.lymphaticDrainage" | translate}}: </span>
          <span class="text">{{ "treatments.lymphaticDrainageText" | translate}}</span>
        </p>
        <p>
          <span class="text bold">{{ "treatments.electroTherapy" | translate}}: </span>
          <span class="text">{{ "treatments.electroTherapyText" | translate}}</span>
        </p>
        <p>
          <span class="text bold">{{ "treatments.poseReeducation" | translate}}: </span>
          <span class="text">{{ "treatments.poseReeducationText" | translate}}</span>
        </p>
        <p>
          <span class="text bold">{{ "treatments.fisioSport" | translate}}: </span>
          <span class="text">{{ "treatments.fisioSportText" | translate}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
