/* You can add global styles to this file, and also import other style files */
// Tipologia lletra logo --> Segoe Script. Bold
$colors: (
  primary: #4cca07,
  secondary: #a9e486,
  backgroundGreen1: #e3ebc2,
  backgroundGreen2: #cde376,
  dgreen: #3fa706,
  grayText: #707070,
);

$sizes: (
  xxxxl:  4rem,
  xxxl:   3.1rem,
  xxl:    2.1rem,
  xl:     1.8rem,
  l:      1.6rem,
  m:      1.4rem,
  s:      1.3rem,
  xs:     1.2rem,
  xxs:    1.1rem,
  xxxs:   1rem,
  xxxxs:  0.9rem,
  xxxxxs: 0.8rem,
  xxxxxxs: 0.6rem,
  xxxxxxxs: 0.5rem
);

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title {
  font-size: map-get($sizes, xxxl);
  color: map-get($colors, grayText);
  font-family: "Helvetica", sans-serif;
}

.text {
  font-size: map-get($sizes, l);
  color: map-get($colors, grayText);
  text-align: justify;
  font-family: "Helvetica", sans-serif;
}


::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: map-get($colors, secondary);
  outline: 1px solid map-get($colors, backgroundGreen2);;
}
