@import "../../../../styles";

.email-send {
  overflow: hidden;

  .text-container {
    margin-top: 20px;
    max-height: calc(100% - 20px);
    overflow: auto;
    padding-right: 1rem;

    .title {
      font-weight: 700;
      text-align: center;
      font-size: map-get($sizes, l);
      color: map-get($colors, grayText);
      font-family: "Josefin", sans-regular;

      @include screen('phone') {
        font-size: map-get($sizes, m);
      }
    }

    p {
      font-size: map-get($sizes, xs);
      text-align: justify;

      @include screen('phone') {
        font-size: map-get($sizes, xxs);
      }
    }

    button {
      cursor: pointer;
      width: 50%;
      border-radius: 5px;
      padding: 10px;
      border: none;
      font-size: map-get($sizes, s);
      background-color: map-get($colors, primary);
      color: white;
      font-family: "Josefin", sans-regular;
      font-weight: bold;

      @include screen('phone') {
        font-size: map-get($sizes, xs);
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
